<h1>Events via JavaScript</h1>

<% @events.each do |event| %>
  <div id="event-<%= event.id %>">
    <h3 id="event-<%= event.id %>-description"></h3>
    <p id="event-<%= event.id %>-link"></p>
  </div>
<% end %>

<button id="getEvents">Get Events Via JavaScript</button>

<script type="text/javascript" charset="utf-8">

  $(function() {
    $("#getEvents").on("click", function(){
      $.get("/events.json", function(data){
        for(var key in data) {
          let id = data[key]["id"];
          let description = data[key]["description"];
          let link = `<a href="/events/${id}">Check out this Event</a>`
          $("#event-" + id + "-description").text(description);
          $("#event-" + id + "-link").html(link);
        }
        $("#eventsDiv").html(data + "whoa");
      })
    })
  })

</script>
