<h1>Events via JavaScript</h1>

<div id="eventsDiv">

</div>

<% @events.each do |event| %>
  <div id="event-<%= event.id %>">
    <p id="event-<%= event.id %>-description"></p>
  </div>
<% end %>

<button id="getEvents">Get Events Via JavaScript</button>

<script type="text/javascript" charset="utf-8">

  $(function() {
    $("#getEvents").on("click", function(){
      $.get("/events.json", function(data){
  
        $("#eventsDiv").html(data + "whoa");
      })
    })
  })

</script>
