<h1>Events via JavaScript</h1>

<div id="eventDiv">
  <% @sorted_events.each do |event| %>
    <div id="event-<%= event.id %>">
      <h3 id="event-<%= event.id %>-description"></h3>
      <p id="event-<%= event.id %>-link"></p>
    </div>
  <% end %>
</div>

<button id="getEvents">Get Events Via JavaScript</button>

<h3><%= link_to "Home", runner_path(current_runner.id) %></h3>

<button id="sortEvents">Sort Events</button>

<script type="text/javascript" charset="utf-8">

  $(function() {
    $("#sortEvents").on("click", function(){
      $.get("/events.json", function(data){
        $("#eventDiv").html("")

        let sortedRuns = data.sort(function(a, b) {
          let eventA = a.description.toUpperCase(); // ignore upper and lowercase
          let eventB = b.description.toUpperCase(); // ignore upper and lowercase
          if (eventA < eventB) {
            return -1;
          }
          if (eventA > eventB) {
            return 1;
          }

          // names must be equal
          return 0;
        });

        sortedRuns.forEach(run => $("#eventDiv").append(`
            <div id="event-${run.id}">
            <h3 id="event-${run.id}-description">${run.description}</h3>
            <p id="event-${run.id}-link">See this run</p>
          </div>`))

      })
    })
  })


</script>
