<h1>Events via JavaScript</h1>

<div id="eventsDiv">

</div>

<button id="getEvents">Get Events Via JavaScript</button>

<script type="text/javascript" charset="utf-8">

  $(function() {
    $("#getEvents").on("click", function(){
      $.get("/events", function(data){
        
        $("#eventsDiv").html(data);
      })
    })
  })

</script>
