<h1>Events via JavaScript</h1>

<div id="eventDiv">
  <% @sorted_events.each do |event| %>
    <div id="event-<%= event.id %>">
      <h3 id="event-<%= event.id %>-description"></h3>
      <p id="event-<%= event.id %>-link"></p>
    </div>
  <% end %>
</div>

<button id="getEvents">Get Events Via JavaScript</button>

<h3><%= link_to "Home", runner_path(current_runner.id) %></h3>

<script type="text/javascript" charset="utf-8">

  $(function() {
    $("#getEvents").on("click", function(){
      $.get("/events.json", function(data){

        for(let key of data) {
          const id = key["id"];
          const description = key["description"];
          const link = `<a href="/events/${id}">Check out this Event</a>`

          $("#event-" + id + "-description").text(description);
          $("#event-" + id + "-link").html(link);
          $("#event-" + id).addClass("highlight");
        }

        $("#getEvents").hide();
        $("#eventDiv").append("<a href='http://localhost:3000/runner_events/new'>Set your Event</a>")
      })
    })
  })


</script>
