<div class="container">
  <div class="feature">

    <h2>Event:</h2>
    <p><%= @event.description %></p>

    <% completed_by(@event).each do |runner| %>
      <h3>Completed by: <%= runner.username %></h3>
      <h4>Completed in: <%= completed_time(runner, @event) %> minutes</h4>
    <% end %>

    <%= link_to "Home", runner_path(current_runner.id) %>

  </div>
</div>
