<h1>Runs</h1>

<% @runs.each do |run| %>
  <%= link_to(run) do %>
    <p>Check out this run!</p>
  <% end %>
  <p><%= run.course %></p>
  <p><%= Runner.find_by(id: run.runner_id).username %></p>
  <p><%= Goal.find_by(id: run.goal_id).description %></p>
  <p></p>

<% end %>
