

<button id="getRuns">Get Runs via JavaScript</button>

<h1>Runs via JavaScript</h1>
<% @runs.each do |run| %>
  <div id="run-<%= run.id %>">
    <h3><%= run.course %></h3>
    <p><%= run.distance %> Miles</p>
    <button class="moreInfo" data-id="<%= run.id %>">More info</button>
    <p></p>
    <p></p>
  </div>
<% end %>

<div id="test">

</div>

<script type="text/javascript" charset="utf-8">
  $(".moreInfo").on("click", function() {
    $.get("/runs", function(runs) {
      $("#test").html(runs);
    });
  });

</script>
