<% if @run.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@run.errors.count, "error") %>
      prohibited this run from being saved:
    </h2>

    <ul>
    <% @run.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="feature"L>
  <h1>New Run Page</h1>

  <%= render partial: "form" %>
</div>

<div id="postResult">

  <p id="runCourse"></p>
  <p id="runDistance"></p>
  <p id="runTime"></p>
  <p id="runReview"></p>
  <p id="runRating"></p>
  <p id="runPace"></p>
  <p id="newRunLink"></p>

</div>

<h3><%= link_to "Home", runner_path(current_runner.id) %></h3>

<script type="text/javascript" charset="utf-8">

  class Run {
    constructor(course, distance, time, review, rating) {
      this.course = course;
      this.distance = distance;
      this.time = time;
      this.review = review;
      this.rating = rating;
    }

    pace() {
      let timeInHours = this.time / 60;
      return (this.distance / timeInHours).toFixed(2);
    }
  }

  $(function() {
    $('form').submit(function(event) {
      event.preventDefault();

      var values = $(this).serialize();

      var posting = $.post('/runs', values);

      posting.done(function(data) {
        const course = data["course"];
        const distance = data["distance"];
        const time = data["time"];
        const review = data["review"];
        const rating = data["rating"];
        const run = new Run(course, distance, time, review, rating)

        $("#postResult").addClass("highlight");
        $("#runCourse").text(`Course: ${run.course}`);
        $("#runDistance").text(`Distance: ${run.distance}`);
        $("#runTime").text(`Time: ${run.time}`);
        $("#runReview").text(`Review: ${run.review}`);
        $("#runRating").text(`Rating: ${run.rating}`);
        $("#runPace").text(`Average pace: ${run.pace()} miles per hour!`);

        $("form").each(function(){
          this.reset();
        });
      });
    });
  });

</script>
